old_tests

**/adaptive-f-greedy/data
**/adaptive-f-greedy/testcase

**/cholesky-vs-cut/data
**/cholesky-vs-cut/testcase

**/performance/data
**/performance/testcase

**/polynomial/data
**/polynomial/testcase

**/shape-param/data
**/shape-param/testcase

**/overview/data
**/overview/testcase